{% extends 'widget_template.html' %}

{% block content %}
<div id="'about">
    <h2>Aims of The Caistorians' Association:</h2>
    <ul>
        <li>To provide a medium for Caistorians to keep in touch with each other.</li>
        <li>To enable former members of CGS to keep in touch with the activities and achievements of the School.
        </li>
        <li>To support the School in whatever ways Caistorians deem appropriate.</li>
        <li>To support the organisation of reunions.</li>
        <li>To make it easier for ex students to return to School and contribute in terms of presentations to
            current students, careers support, etc.</li>
        <li>To preserve artefacts associated with the School's history.</li>
    </ul>
</div>
{% endblock %}