{% extends 'widget_template.html' %}

{% block content %}
<div>
    <h2>Getting in touch:</h2>
    <ul>
        <li>To join The Caistorians' Association please complete the form:<br> <a
                href="https://forms.office.com/Pages/ResponsePage.aspx?id=2audFmNFO0-XtEGkWREjqUVlEgZ9CapEk4rtpm5AN5pUN1daQjlEM1lHNEtQM0UwVFVNMEw2SERKNyQlQCN0PWcu">Form</a>
        </li>
        <li>To contact the school:<br> Charlie Coulston - <a
                href="mailto:enquiries@caistorgrammar.com">enquiries@caistorgrammar.com</a></li>
        <li>To donate items to the CGS Archive contact:<br>Tom Hunter - <a
                href="mailto:tomjudyhun@ntlworld.com">tomjudyhun@ntlworld.com</a></li>
        <li>To offer support for Careers advice for CGS students contact:<br> <a
                href="mailto:careers@caistorgrammar.com">careers@caistorgrammar.com</a></li>
        <li>To contribute to, or buy a copy of, the Caistorian magazine contact:<br> <a
                href="mailto:eddie.cook@caistorgrammar.com">eddie.cook@caistorgrammar.com</a></li>
        <li>To read about recent events at Caistor Grammar visit our Caistor Focus:<br> <a
                href="https://forms.office.com/Pages/ResponsePage.aspx?id=2audFmNFO0-XtEGkWREjqUVlEgZ9CapEk4rtpm5AN5pUN1daQjlEM1lHNEtQM0UwVFVNMEw2SERKNyQlQCN0PWcu">Caistor
                Focus</a></li>
        <li>There is a Caistorians' Flickr, containing an expanding collection of historical photographs of the
            School and its members dating back to 1920:<br> <a
                href="https://www.flickr.com/people/caistorians/">Flickr Page.</a></li>
    </ul>
</div>
{% endblock %}