{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Caistorians</title>
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">

    <script src="{% static 'frontend/scroll.js' %}" defer></script>
</head>

<body>
    <div class="container " id="title">
        <img src="{% static 'frontend/OldHall.jpg' %}" alt="OldHall">
        <div class="background">
            <div class="text">
                <h2>The</h2>
                <h1>Caistorians' Association</h1>
            </div>
        </div>
    </div>
    <br><br>
    <div id="grid_layout">
        {% for widget in widgets %}
            {% if widget.type == "file" %}
                {% include widget.file with data=widget.parameters %}
            {% elif widget.type == "string" %}
                {{widget.html}}
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>