body {
    margin: 0;
}

#title div {
    margin: 0;
}
#title h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    margin: 0px;
    text-align: center;
    left: 50%;
    transform: (-50%, 0);
    width: 100%;
}
#title h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin: 0px;
}
#title img {
    width: 100%;
}
.container {
    position: relative;
}
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000000AA;
    color: white;
    width: 100%;
    height: 40%;
}
.text {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
}

#side-scroll {
    display: flex;
}

#magazines {
    display: flex;
    align-items: flex-start;
    padding: 20px 20px;
    gap: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    background-color: #AAAAAA;
    scrollbar-width: none;
}
#magazines > .A4 {
    flex: 0 0 auto;
    aspect-ratio: 0.707;
    width: 300px;
    scroll-snap-align: start;
}

#magazines > .A4:nth-child(even) {
    margin-top: 200px;
    background-color: burlywood;    
}
#magazines > .A4:nth-child(odd) {
    background-color: beige;
}

#magazines > #scroll_left {
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    height: calc(100% - 40px);
}
#magazines > #scroll_right {
    position: absolute;
    box-sizing: border-box;
    right: 0px;
    height: calc(100% - 40px);
}

.pannel-display {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    box-sizing: border-box;
}
.pannel-display > div{
    top: 0px;
    box-sizing: border-box;
    background-color: #AAAAAA;
    width: calc(50% - 10px);
    padding: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.pannel-display li {
    margin-bottom: 10px;
}
