* {box-sizing: border-box;}

body {
    margin: 0;
}

#title div {
    margin: 0;
}
#title h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    margin: 0px;
    text-align: center;
    left: 50%;
    transform: (-50%, 0);
    width: 100%;
}
#title h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin: 0px;
}
#title img {
    width: 100%;
}
.container {
    position: relative;
}
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000000AA;
    color: white;
    width: 100%;
    height: 40%;
}
.text {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

#side-scroll {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.scrollFrame {
    display: flex;
    align-items: flex-start;
    padding: 20px 20px;
    gap: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    background-color: #AAAAAA;
    scrollbar-width: none;
}
#magazines > .A4 {
    flex: 0 0 auto;
    aspect-ratio: 0.707;
    width: 300px;
    scroll-snap-align: start;
}

#magazines > .A4:nth-child(even) {
    margin-top: 200px;
    background-color: burlywood;    
}
#magazines > .A4:nth-child(odd) {
    background-color: beige;
}

/* .scroll_button {
    flex: 1;
} */

.pannel-display {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.pannel-display > div{
    top: 0px;
    background-color: #AAAAAA;
    width: calc(50% - 10px);
    padding: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.pannel-display li {
    margin-bottom: 10px;
}
#invis_member_card{
    flex: 0 0 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
#member_card {
    flex: 0 0 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    scroll-snap-align: start;
    gap: 10px;
}
#member_card > #name {
    grid-row: 1;
    grid-column: 1 /span 2;
    align-self: center;
    justify-self: center;
}
#member_card > #year {
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    justify-self: center;
}
#member_card > #text {
    grid-row: 2 /span 2;
    grid-column: 1 /span 2;
    justify-self: center;
}
#member_card > #photo {
    grid-row: 2 /span 2;
    grid-column: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}