{% extends 'widgets/widget_template.html' %}

{% block content %}
<div id="contact">
    <h2>Getting in touch:</h2>
    <ul>
        <li>To Join: <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=2audFmNFO0-XtEGkWREjqUVlEgZ9CapEk4rtpm5AN5pUN1daQjlEM1lHNEtQM0UwVFVNMEw2SERKNyQlQCN0PWcu">Membership Form</a></li>
        <li>School Contact (Charlie Coulston): <a href="mailto:enquiries@caistorgrammar.com">enquiries@caistorgrammar.com</a></li>
        <li>Donate to the Archive (Tom Hunter): <a href="mailto:tomjudyhun@ntlworld.com">tomjudyhun@ntlworld.com</a></li>
        <li>Offer Careers Support: <a href="mailto:careers@caistorgrammar.com">careers@caistorgrammar.com</a></li>
        <li>Magazine Contact: <a href="mailto:eddie.cook@caistorgrammar.com">eddie.cook@caistorgrammar.com</a></li>
        <li>Recent Events: <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=2audFmNFO0-XtEGkWREjqUVlEgZ9CapEk4rtpm5AN5pUN1daQjlEM1lHNEtQM0UwVFVNMEw2SERKNyQlQCN0PWcu">Caistor Focus</a></li>
        <li>Caistorians' Flickr: <a href="https://www.flickr.com/people/caistorians/">Flickr Page.</a></li>
    </ul>
</div>
{% endblock %}