{% extends 'widgets/widget_template.html' %}

{% block content %}
<div class="side-scroll-container">
    <button class="scroll_button" id="scroll_left_mag">Left</button>
    <div class="scrollFrame" id="magazines">
        <div class="A4">1</div>
        <div class="A4">2</div>
        <div class="A4">3</div>
        <div class="A4">4</div>
        <div class="A4">1</div>
        <div class="A4">2</div>
        <div class="A4">3</div>
        <div class="A4">4</div>
    </div>
    <button class="scroll_button" id="scroll_right_mag">Right</button>
</div>
{% endblock %}